.statusBlock { 
    display: flex;
    width: 90%;
    bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    background-color: antiquewhite;
    border: 4px solid #242424;
    border-radius: 15px;
    align-items:center;
    color: black;
    position: fixed;
}

/* body:hover {
  border: 10px solid red;
  transition: .5s;
} */

.powers {
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 1 1;
  margin-left: 70px;
  align-items: center;
  text-align: center;
}
  
.power {
  border: 1px solid black;
  width: 100px;
  height: 50px;
  align-items: center;
  text-align: center;
  color: black;
  margin: 0 auto;
  border-radius: 5px;
}

.power:hover {
  color: aliceblue;
  background-color: #242424;
  border: 1px solid white;
  transition: .5s;
  cursor: pointer;
}


.imageUser {
  position: fixed;
  width: 500px;
  bottom: 50px;
  left: 0;
}

.userStatus {
  display: flex;
  justify-content: space-around;
}
  