.statusBlock { 
    display: flex;
    width: 90%;
    bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    background-color: antiquewhite;
    border: 4px solid #242424;
    border-radius: 15px;
    align-items:center;
    color: black;
    position: fixed;
}

/* body:hover {
  border: 10px solid red;
  transition: .5s;
} */



.imageUser {
  position: fixed;
  width: 500px;
  bottom: 50px;
  left: 0;
}

.userStatus {
  display: flex;
  justify-content: space-around;
}
  