.statusBlock { 
    display: flex;
    bottom: 10px;
    width: 100%;
    background-color: antiquewhite;
    border: 4px solid #242424;
    border-radius: 15px;
    align-items:center;
    color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}


.imageUser {
  position: fixed;
  width: 500px;
  bottom: 50px;
  left: 0;
}

.logs {
  margin-left:100px;
  max-width: 500px;
}

.enemyPoke { 
  color: "red";
  margin-right: 40px
}
