.pokeCardChoice {
    border: 1px solid white;
    padding: 20px;
    width: 300px;
    border-radius: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}

button .pokeCardChoice:hover {
    background-color: beige;
    transition: .5s;
    color: black;
}

button .pokeCardChoice:disabled {
    color: grey;
}

button .pokeCardChoice:disabled:hover {
    color: grey;
    background-color: #242424;
}





