h1 {
  margin: 3rem auto;
  text-align: center;
  height: fit-content;
}

h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}

root {
  margin: 0;
}

#container {
  display: flex;
  margin: auto;
}

#settingsContainer {
  display: flex;
  width: 25vw;
  flex-direction: column;
  align-items: center;
}

#gameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

#inputRow {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#gameMatrix {
  width: 35vw;
  height: 35vw;
  display: grid;
}

.matrixInput {
  height: fit-content;
  width: 10%;
  margin: auto;
  font-size: 1.5rem;
}

.gameCell {
  border: 0.3rem solid black;
}

.settingsInput {
  margin: 1.5rem auto;
  font-size: 1.72rem;
}

.settingDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settingLabel {
  font-size: 1.5rem;
}