
.moves {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
}

    
.move {
    width: 80%;
    height: 30px;
    border: 1px solid black;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    align-items: center;
}

  
.move:hover {
    color: aliceblue;
    background-color: #242424;
    transition: .5s;
    cursor: pointer;
}


.disabledd { 
    color: gray;
}
.disabledd:hover {
    cursor: inherit;
    background-color: inherit;
    color: gray;
}
